
<!-- <ejs-gantt id="GanttSample" 
[dataSource]="data" 
height= "450px"

allowFiltering = 'true'
[taskFields]= "taskfield"> 
</ejs-gantt> -->

<!-- <div class="control-section">
  <ejs-gantt id="GanttExport" #ganttExcel height="430px" [dataSource]="data" [taskFields]="taskSettings"
      [timelineSettings]="timelineSettings" [labelSettings]="labelSettings" [treeColumnIndex]="1"
      [allowExcelExport]="true" [allowPdfExport]="true" height="450px" [allowSelection]="true" dateFormat="MMM dd, y"
      [projectStartDate]="projectStartDate" [projectEndDate]="projectEndDate" [highlightWeekends]="true"
      [gridLines]="gridLines" [toolbar]="toolbar" [resourceFields] = "resourceFields"
      [resources]="resources" (toolbarClick)="toolbarClick($event)" [splitterSettings]="splitterSettings" [columns]="columns">
  </ejs-gantt>
</div> --> 


 <div class="control-section">
  <ejs-gantt id="GanttExport"  #ganttExcel 
   height="430px" 
   [dataSource]="data" 
   [taskFields]="taskSettings"    
      [timelineSettings]="timelineSettings" 
      [labelSettings]="labelSettings"
       [treeColumnIndex]="1"
       [allowExcelExport]="true"
        [allowPdfExport]="true"
      height="450px" 
      [allowSelection]="true"
       dateFormat="MMM dd, y"
        [projectStartDate]="projectStartDate" 
        [projectEndDate]="projectEndDate"
         [highlightWeekends]="true"
      [gridLines]="gridLines"
       [eventMarkers]="eventMarkers" 
       [editSettings]="editSettings"
      [toolbar]="toolbar" 
      [resourceFields] = "resourceFields" 
      [resources]="resources"
      (toolbarClick)="toolbarClick($event)"
       [splitterSettings]="splitterSettings"
      allowFiltering = 'true'      
       [columns]="columns"> 
  </ejs-gantt>
  
</div> 

<!-- <div class="control-section">
  <ejs-gantt id="GanttExport" #ganttExcel height="430px" [dataSource]="data" [taskFields]="taskSettings"
      [timelineSettings]="timelineSettings" [labelSettings]="labelSettings" [treeColumnIndex]="1"
      [allowExcelExport]="true" [allowPdfExport]="true" height="450px" [allowSelection]="true" dateFormat="MMM dd, y"
      [projectStartDate]="projectStartDate" [projectEndDate]="projectEndDate" [highlightWeekends]="true"
      [gridLines]="gridLines" [toolbar]="toolbar" [resourceFields] = "resourceFields"
      [resources]="resources" (toolbarClick)="toolbarClick($event)" [splitterSettings]="splitterSettings" [columns]="columns">
  </ejs-gantt>
</div> -->



<router-outlet></router-outlet>